{% if truncate %}
<!-- se muestra si es la lista de categorías -->

<div class="list-item {{page.header.commitee_type}} ">

	{% set image_parts = pathinfo(page.header.logo_image) %}
	{% set image_basename = image_parts.basename %}
	{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}

	{{ image_page.media[image_basename].resize(200).html() }}

	<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

	{{ page.summary }}
	<p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>

</div>

{% else %}
<!-- se muestra si es el detalle de la categoría -->

	{% embed 'partials/base.html.twig' %}

	{% block content %}

	<div class="category-item">

		{% set header_image = page.header.header_image|defined(true) %}
		{% set header_image_file = page.header.header_image_file %}

		<div class="list-blog-header">
			<h1>{{ page.title }}</h1>
		</div>

		<div class="content">
			<div class="logo">
				{% set image_parts = pathinfo(header.logo_image) %}
				{% set image_basename = image_parts.basename %}
				{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}

				{{ image_page.media[image_basename].resize(200).html() }}
			</div>
			<div class="category-content">
				{{ page.content }}
			</div>
			<div class="coordinator">
				<h3>Coordinador de la categoría</h3>
				{% set image_parts = pathinfo(header.coordinator_picture) %}
				{% set image_basename = image_parts.basename %}
				{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}

				{{ image_page.media[image_basename].resize(300).html() }}
				<p>{{header.coordinator_name}}</p>
				<p>{{header.coordinator_org}}</p>
				<p>{{header.coordinator_email}}</p>
				<p>{{header.coordinator_tel}}</p>
			</div>
		</div>

		<div class="steps">
			<h3>Steps</h3>
			{% if header.steps_signup_enable == 1 %}
			<div class="step-item">
				<h3>{{header.steps_signup_title}}</h3>
				{{header.steps_signup_description}}
				{{header.steps_signup_date_start}}
				{{header.steps_signup_date_end}}
				{{header.steps_signup_file}}
			</div>
			{% endif %}

			{% if header.steps_diagnose_enable == 1 %}
			<div class="step-item">
				<h3>{{header.steps_diagnose_title}}</h3>
				{{header.steps_diagnose_description}}
				{{header.steps_diagnose_date_start}}
				{{header.steps_diagnose_date_end}}
				{{header.steps_diagnose_file}}
			</div>
			{% endif %}

			{% if header.steps_plan_enable == 1 %}
			<div class="step-item">
				<h3>{{header.steps_plan_title}}</h3>
				{{header.steps_plan_description}}
				{{header.steps_plan_date_start}}
				{{header.steps_plan_date_end}}
				{{header.steps_plan_file}}
			</div>
			{% endif %}

			{% if header.steps_report_enable == 1 %}
			<div class="step-item">
				<h3>{{header.steps_report_title}}</h3>
				{{header.steps_report_description}}
				{{header.steps_report_date_start}}
				{{header.steps_report_date_end}}
				{{header.steps_report_file}}
			</div>
			{% endif %}

		</div>

		<div class="resources">
			<h3>Recursos relacionados</h3>
			{% for resource in page.header.document_files %}
			<div class="resources-item">
				<h4>{{resource.resource_title}}</h4>
				<p>{{resource.resource_description}}</p>
				<p>{{resource.resource_select}}</p>

				{% if resource.resource_url %}
					<p><a href="{{resource.resource_url}}">Ver recurso</a></p>
				{% endif %}

				{% if resource.resource_file_upload %}
					<p>{{resource.resource_file_upload}}</p>
				{% endif %}
				[falta meter como jalar el file]

			</div>
			{% endfor %}
		</div>

	</div>
	{% endblock %}

	{% endembed %}

	{% endif %}
